<!DOCTYPE html>
<html>
<head>
  <title>Gmail Bubble</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application',"http://localhost:9292/faye.js", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>
      text {
          font: 10px sans-serif;
      }

  </style>
</head>

<body>
<%= render 'layouts/header'%>

<div class="container-fluid">
  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <div class="jumbotron">
    <%= yield %>
  </div>
</div><!-- /.container -->
</body>
</html>
